<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Scheda - <%= film.title %></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

</head>
<style>
   @media screen and (min-width: 601px) {
        p {
            font-size: 25px;
        }
    }

    /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
    @media screen and (max-width: 600px) {
        p {
            font-size: 15px;
        }
    }
</style>
<body>
    <div class="card">
        <h5 class="card-header"><strong>Scheda informativa</strong></h5>
        <div class="card-body">
            <div class="container">
                <p>
                    <b>Titolo</b>: <em><%= film.title %></em>
                </p>
                <p>
                    <% if(film.vote_average > 0) { %>
                        <b>Voto</b>: <%= film.vote_average %>
                        ⭐
                    <% } %>
                </p>
                <p>
                    <% if(film.runtime) { %>
                        <b>Durata</b>: <%= film.runtime %> min
                        🕘
                    <% } %>  
                </p>
                <p>
                    <% if(film.overview) { %>
                        <b>Descrizione</b> 📝
                        </br>
                        <%= film.overview %>
                    <% } %>
                </p>
                <p> 
                    <% if(film.genres[0]) { %>
                        <b>Genere</b>: 
                        <% film.genres.forEach((genere) => { %>
                            <%= genere.name %>, 
                        <% }); %>
                    <% } %>
                </p>
                </br>
                <p>
                    <% if(typeof actors !== 'undefined' && actors.length > 0) { %>
                        <b>Attori</b>:
                        <em>
                        <% actors.forEach((actor) => {%>
                            <%= actor %>, 
                        <% }); %>
                        </em>
                    <% } %>
                </p>
                <p>
                    <% if(typeof directors !== 'undefined' && directors.length > 0) { %>
                        <b>Regista</b>:
                        <em>
                        <% directors.forEach((director) => {%>
                            <%= director %>, 
                        <% }); %>
                        </em>
                    <% } %>
                </p>
                <p>
                    <% if(film.budget > 0) { %>
                        <b>Budget</b>:
                        <% let budget = "" %>
                        <% for(let index = 0; index < ((film.budget).toString()).length; index++) { %>
                            <% budget += ((film.budget).toString())[index] %>
                            <% if((((((film.budget).toString()).length) - 1) - index)%3 == 0 && (index + 1) != ((film.budget).toString()).length ) { %>
                            <%    budget += "." %>  
                            <% } %>
                        <% } %>
                        <%= budget %> 💲
                    <% } %>
                </p> 
                </br></br>
                <div class="text-center">
                    <img class="img-fluid rounded img-thumbnail" src="https://image.tmdb.org/t/p/w400<%=film.poster_path%>">
                </div>
            </div> 
        </div>
    </div>
</body>
</html>